//var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide().fadeIn('slow');
$('#comments').prepend(new_comment);
//$('#comment_<%= @comment.id %>').fadeIn('slow');
$('#comment_<%= @comment.id %>');
$('#new_comment')[0].reset();